source: https://api.nuget.org/v3/index.json
storage: none

framework net6.0
version: 7.2.1

nuget FSharp.Core

group Build
    source: https://www.nuget.org/api/v2
    storage: none

    nuget FSharp.Core
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Environment
    nuget Fake.DotNet.Cli
    nuget Fake.Core.Process
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.Tools.Git
    nuget Fake.DotNet.Paket
    nuget Microsoft.Build
    nuget Microsoft.Build.Framework
    nuget Microsoft.Build.Tasks.Core
    nuget Microsoft.Build.Utilities.Core
