{ config, pkgs, ... }:

{
  programs = {
    bat.enable = true;
    home-manager.enable = true;

    fzf = {
      enable = true;
      enableBashIntegration = true;
    };

    git = {
      enable = true;
    
    {{ if (eq .chezmoi.hostname "personal") }}
      userEmail = "victor@freire.dev.br";
      userName = "Victor Freire";
    {{ else }}
      userEmail = "victor.freire@mustti.com.br";
      userName = "Victor Freire";
    {{ end }}
    
    };

    neovim = {
      enable = true;
      vimAlias = true;
      plugins = with pkgs.vimPlugins; [
        coc-nvim
        fzf-vim
      ];
    };
  };

  home.packages = with pkgs; [
    ripgrep
    fd
    chezmoi
    nixpkgs-fmt

    nodejs

  {{ if (eq .chezmoi.hostname "personal") }}
    beancount
    fava
  {{ end }}
  ];

  home.username = "victor";
  home.homeDirectory = "/home/victor";

  home.stateVersion = "21.05";
}
